<div id="dashboard" *ngIf="_userService.user['email']">
  <div class="outer header">
    <div id="leftDiv" class="text-center">
      <button type="button" class="btn1" [class.active]="!isMonthly" (click)="setMonthFilter()">This Month</button>

    </div>
    <div id="rightDiv" class="text-center">
      <!-- <button type="button" class="btn1">Custom</button> -->
      <button type="button" class="btn1" [class.active]="isMonthly" (click)="initializeCalender();" data-toggle="modal" data-target="#customDate">
        {{selectedDates.length > 0 ? (mt(selectedDates[0]).format('MMM DD') + ' - ' + mt(selectedDates[selectedDates.length-1]).format('MMM
        DD')) : 'Custom'}}
      </button>

      <!-- Modal -->
      <div id="customDate" class="modal fade" role="dialog">
        <div class="modal-dialog calender-dialog">


          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header outer">
              <button type="button" class="close closeButton" data-dismiss="modal">&times;</button>
              <div class="clearDiv">
                <a href="javascript::void(0)" (click)="initializeCalender()">Clear</a>
              </div>
              <h4 class="modal-title title">{{mt(selectedDates[0]).format('MMM DD') }} - {{ (selectedDates.length >1)? mt(selectedDates[selectedDates.length-1]).format('MMM
                DD') : 'End Date'}}</h4>

            </div>
            <div class="modal-body">

              <igx-calendar #calendar selection="range" (onSelection)="verifyRange($event)"></igx-calendar>
            </div>
            <div class="modal-footer footerDiv">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="getDates(selectedDates)">Done</button>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
  <div class="outer expenses text-center">
    <div class="expenses-center">
      <p class="head"> Total expenses</p>
      <h1>${{expenses?.total_expenses}}</h1>

      <p class="owes" [hidden]="!expenses['debitor']"> {{ getName(expenses.creditor) }} ownes {{ getName(expenses.debitor) }}
        <span>${{expenses.amountLeft}}</span>
      </p>
      <p class="owes" [hidden]="expenses['debitor']"> Nothing to settle down </p>
    </div>

  </div>

  <div class="outer" id="payments" style="padding:10px">
    <div *ngFor="let payment of payments;let i=index">
      <div class="wrapper">
        <p class="payment-date zeroMargin">{{ mt(payment.time).format('MMM DD')}}</p>
        <div class="outer">
          <div class="payment-details">
            <p class="label zeroMargin">{{ payment.label}}</p>
            <p class="paidBy zeroMargin">Paid by {{ getName(payment.paidBy)}}</p>
          </div>
          <div class="payment-details amount-right-pad">
            <h6 class="amount">${{payment.totalAmount.toFixed(2)}}</h6>
            <a class="payment-icon" data-toggle="collapse" [id]="'parent_'+payment.id" [href]="'#collapse_'+payment.id" role="button"
              aria-expanded="false">
              <!-- <i [id]="'icon_'+payment.id" class="fas fa-caret-down" style="font-size:12px"></i> -->
              <img width="10px" (click)="toggleIcon($event.target)" [src]="'assets/images/dropdown.svg'">

            </a>


          </div>
          <br style="clear:both" />

          <div class="collapse payment-splits amount-right-pad" [id]="'collapse_'+payment.id">
            <ng-container *ngIf="payment.split[0].email===_userService.user['email'];else other">

              <p>{{_userService.user['name']}}:${{payment.split[0].amount}}</p>
              <p>{{_userService.user['partner_name']}}:${{payment.split[1].amount}}</p>
            </ng-container>
            <ng-template #other>
              <p>{{_userService.user['name']}}: ${{payment.split[1].amount}}</p>
              <p>{{_userService.user['partner_name']}}: ${{payment.split[0].amount}}</p>
            </ng-template>
            <div class="outer icons">
              <div class="payment-details delete-icon" (click)="openModal(payment)">
                <img [src]="'assets/images/delete.svg'">
                <span>Delete</span>
              </div>
              <div class="payment-details edit-icon" (click)="editSplitii(payment)">
                <img [src]="'assets/images/edit.svg'">
                <span>Edit</span>
              </div>
            </div>
          </div>
          <!-- <ng-template #other>
              <div class="collapse payment-splits amount-right-pad" [id]="'collapse_'+payment.id">
                <p>{{_userService.user['name']}}:${{payment.split[1].amount}}</p>
                <p>{{_userService.user['partner_name']}}:${{payment.split[0].amount}}</p>
                <div class="outer icons">
                    <div class="payment-details delete-icon" (click)="openModal(payment)">
                      <img [src]="'assets/images/delete.svg'">
                      <span>Delete</span>
                    </div>
                    <div class="payment-details edit-icon">
                      <img [src]="'assets/images/edit.svg'">
                      <span>Edit</span>
                    </div>
                  </div>
              </div>
            </ng-template> -->
          <!-- <div class="outer icons">
            <div class="payment-details delete-icon" (click)="openModal(payment)">
              <img [src]="'assets/images/delete.svg'">
              <span>Delete</span>
            </div>
            <div class="payment-details edit-icon">
              <img [src]="'assets/images/edit.svg'">
              <span>Edit</span>
            </div>
          </div> -->
        </div>
        <br style="clear:both" />
      </div>
      <div class="bottom-line" *ngIf="!(i==(payments.length-1))"></div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true" id="delete-modal">
  <div class="modal-dialog modal-sm center-dialog">
    <div class="modal-content shadow">
      <div class="modal-header">
        <button type="button" class="close restrictPadding" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="label">Are you sure you want to delete?</h4>
        <div class="details">
          <p>{{ mt(selectedPayment.time).format('MMM DD')}}</p>
          <p>${{selectedPayment.totalAmount}}</p>
          <p>{{ selectedPayment.label}}</p>
        </div>
      </div>
      <div class="modal-footer deleteFooter">
        <button type="button" class="btn1" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn1 active" data-dismiss="modal" (click)="deletePayment(selectedPayment)">Delete</button>

      </div>
    </div>
  </div>
</div>
