<form id="login" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <div *ngIf="error" class="fireBase-error">
    <p class="" style="margin:0">
      {{error}}
    </p>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" [class.errorBorder]="loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)"
      formControlName="email" aria-describedby="emailHelpBlock">
    <div class="form-control-feedback" *ngIf="loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)">
      <p class="error" *ngIf="loginForm.get('email').errors.required">Please enter email</p>
      <p class="error" *ngIf="loginForm.get('email').errors.email">Please enter valid email</p>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" [class.errorBorder]="loginForm.get('password').errors && (loginForm.get('password').dirty || loginForm.get('password').touched)"
      formControlName="password" aria-describedby="passwordHelpBlock">
    <div class="form-control-feedback" *ngIf="loginForm.get('password').errors && (loginForm.get('password').dirty || loginForm.get('password').touched)">
      <p class="error" *ngIf="loginForm.get('password').errors.required">Please enter password</p>
      <p class="error" *ngIf="loginForm.get('password').errors.minlength">Password must be at least 6 characters long.</p>

    </div>
  </div>
  <div class="resetPassword">
    <a href="javascript::void(0);" >Reset Password</a>
  </div>
  <div class="btnClass">
    <button type="submit" class="btn1 text-center" [class.active]="loginForm.valid" #btnRef [disabled]="!loginForm.valid">Log In</button>

  </div>

  <div class="formFooter">
    <span>Don't have an account? </span>
    <a href="javascript::void(0)" (click)="changeAuthType('signup')">Create Account</a>
  </div>
</form>
