#login .form-group {
  margin-bottom: 25px;
}

#login .form-group label {
  margin-bottom: 0;
  font-family: Open Sans, Regular;
  font-size: 0.9rem;
  color: #000000;
  opacity: 0.5;
}

#login .form-group input {
  background-color: #F7F7F7;
}

#login input:focus {
  outline: none;
}

#login .btnClass {
  text-align: center;
}

#login .btn1 {
  font-family: Open Sans, Bold;
  font-size: 1rem;
  border: 0;
  color: #FFFFFF;
  border-radius: 40px;
  background: #9A9A9A;
  padding: 10px 19px;
}

#login .formFooter {
  padding: 15px 10px;
  text-align: center;
  font-size: 0.9rem;
}

#login .formFooter span {
  color: #000000;
  opacity: 0.8;
}

#login .formFooter a {
  font-weight: 700;
  text-decoration: none;
  color: #4877EF;
}

#login .form-group .error {
  color: #FF6737;
  font-family: Open Sans, Semibold;
  font-size: 0.7rem
}

#login .form-group .errorBorder {
  border:1px solid #FF7043;
}
#login .btnClass .btn1.active {
  background: #4878EF;
}
.resetPassword{
  text-align: right;
  margin-top:-17px;
  margin-bottom: 10px;
}
.resetPassword a{
  text-decoration: none;
  color:#4878EF;
  font-size: 0.77rem;
}
.fireBase-error{
  position: relative;
  float: left;
  top: 6px;
  word-wrap: break-word;
  color: #FF6737;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  font-size: 0.8rem;
  margin: 0 0 12px 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
  font-family: Open Sans, Bold;
}
