<!--The content below is only a placeholder and can be replaced.-->
<div class="outer">
  <main style="margin-bottom:3em">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-2"></div>
    </div>
  </main>
  <footer>
    <div *ngIf="isUserLoggedIn() && !isHideBar" class="row fixed-footer">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-8" id="footerDiv">
        <div style="float:left;">
          <span>
            <a [routerLink]="['/site/dashboard']">
              <i class="fas fa-chart-bar"></i>
            </a>
          </span>
        </div>
        <div id="addButton">
          <span>
            <!-- <a data-toggle="modal" style="cursor:pointer;" data-target="#splitiiModal">
              <i class="fas fa-plus-circle"></i>
            </a> -->
            <a data-toggle="modal" style="cursor:pointer;" (click)="isHideBar=true" [routerLink]="['/site/addSplitii']">
              <i class="fas fa-plus-circle"></i>
            </a>
          </span>
          <p style="font-size:12px;">Add Expense</p>
        </div>
        <div style="float:right;">
          <span>
            <a [routerLink]="['/site/settings']">
              <i class="fas fa-cog"></i>
            </a>
          </span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </footer>
</div>
