#signup .form-group{
    margin-bottom: 25px;
}

#signup .form-group label {
  margin-bottom: 0;
  font-family: Open Sans, Regular;
  font-size: 0.9rem;
  color: #000000;
  opacity: 0.5;
}

#signup .form-group input {
  background-color: #F7F7F7;
}

#signup input:focus {
  outline: none;
}

#signup .btnClass {
  text-align: center;
}

#signup .btn1 {
  font-family: Open Sans, Bold;
  font-size: 1rem;
  border: 0;
  color: #FFFFFF;
  border-radius: 40px;
  background: #9A9A9A;
  padding: 10px 19px;
}

#signup .formFooter {
    padding: 15px 10px;
    text-align: center;
    font-size: 0.9rem;
}
#signup .formFooter span {
    color:#000000;
    opacity: 0.8;
}
#signup .formFooter a{
    font-weight: 700;
    text-decoration: none;
    color: #4877EF;
}
#signup .form-group .error {
  color: #FF6737;
  font-family: Open Sans, Semibold;
  font-size: 0.7rem
}

#signup .form-group .errorBorder {
  border:1px solid #FF7043;
}
#signup .btnClass .btn1.active {
  background: #4878EF;
}