<div *ngIf="error" class="fireBase-error">
  <p class="" style="margin:0">
    {{error}}
  </p>
</div>
<form id="signup" [formGroup]="signupForm" (ngSubmit)="createAccount(signupForm.value)">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" [class.errorBorder]="signupForm.get('name').errors && (signupForm.get('name').dirty || signupForm.get('name').touched)"
      class="form-control" formControlName="name" aria-describedby="nameHelpBlock">
    <div class="form-control-feedback" *ngIf="signupForm.get('name').errors && (signupForm.get('name').dirty || signupForm.get('name').touched)">
      <p class="error" *ngIf="signupForm.get('name').errors.required">Please enter name</p>
    </div>
    <!-- <small id="nameHelpBlock" class="form-text text-muted">
    </small> -->
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" [class.errorBorder]="signupForm.get('email').errors && (signupForm.get('email').dirty || signupForm.get('email').touched)"
      formControlName="email" aria-describedby="emailHelpBlock">
    <div class="form-control-feedback" *ngIf="signupForm.get('email').errors && (signupForm.get('email').dirty || signupForm.get('email').touched)">
      <p class="error" *ngIf="signupForm.get('email').errors.required">Please enter email</p>
      <p class="error" *ngIf="signupForm.get('email').errors.email">Please enter valid email</p>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" [class.errorBorder]="signupForm.get('password').errors && (signupForm.get('password').dirty || signupForm.get('password').touched)"
    formControlName="password" aria-describedby="passwordHelpBlock">
    <div class="form-control-feedback" *ngIf="signupForm.get('password').errors && (signupForm.get('password').dirty || signupForm.get('password').touched)">
      <p class="error" *ngIf="signupForm.get('password').errors.required">Please enter password</p>
      <p class="error" *ngIf="signupForm.get('password').errors.minlength">Password must be at least 6 characters long.</p>

    </div>
  </div>
  <div class="form-group">
    <label for="partner-email">Partner's email</label>
    <input type="text" id="partner-email" class="form-control" [class.errorBorder]="signupForm.get('partner_email').errors && (signupForm.get('partner_email').dirty || signupForm.get('partner_email').touched)"
    formControlName="partner_email" aria-describedby="partnerEmailHelpBlock">
    <div class="form-control-feedback" *ngIf="signupForm.get('partner_email').errors && (signupForm.get('partner_email').dirty || signupForm.get('partner_email').touched)">
      <p class="error" *ngIf="signupForm.get('partner_email').errors.required">Please enter partner's email</p>
      <p class="error" *ngIf="signupForm.get('partner_email').errors.email">Please enter valid email</p>

    </div>
  </div>
  <div class="btnClass">
    <button type="submit" #btnRef class="btn1 text-center" [class.active]="signupForm.valid" [disabled]="!signupForm.valid">Create Account</button>

  </div>
  <div class="formFooter">
    <span>Already have account? </span>
    <a href="javascript::void(0)" (click)="changeAuthType('login')">Log in</a>
  </div>
</form>
