<!-- <div *ngIf="_userService.user['email']" id="splitiiModal" class="modal fade" role="dialog"> -->
<div *ngIf="_userService.user['email']" id="splitiiModal" class="outer">
  <div class="head">
    <a class="back-button" href="javascript::void(0)" (click)="back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a [routerLink]="['/site/dashboard']" class="close closeButton-2">&times;</a>
  </div>
  <div class="outer">
    <form [formGroup]="addSplitiiForm" class="splitiiForm">
      <div class="step1" *ngIf="activeStep==1">
        <p class="label">Total Amount</p>
        <input type="number" appAutofocus formControlName="totalAmount" placeholder="$00.00" />
        <div class="form-control-feedback" *ngIf="addSplitiiForm.get('totalAmount').errors && (addSplitiiForm.get('totalAmount').dirty || addSplitiiForm.get('totalAmount').touched)">
          <p class="error" *ngIf="addSplitiiForm.get('totalAmount').errors.required">Please enter amount</p>
        </div>
      </div>
      <div class="step2" *ngIf="activeStep==2">
        <div class="labelClass">
          <p class="label">What is this for?</p>
          <input type="text" formControlName="label" appAutofocus />
          <div class="form-control-feedback" *ngIf="addSplitiiForm.get('label').invalid && (addSplitiiForm.get('label').dirty || addSplitiiForm.get('label').touched)">
            <p class="error" *ngIf="addSplitiiForm.get('label').errors.required">Please enter label</p>
          </div>
        </div>
        <div class="switch-field marginUp">
          <p class="label">Paid By:</p>
          <input type="radio" id="switch_left" name="paidBy" formControlName="paidBy" [value]="addSplitiiForm.get('name').value" [checked]="true"
          />
          <label for="switch_left">{{addSplitiiForm.get('name').value}}</label>
          <input type="radio" id="switch_right" name="paidBy" formControlName="paidBy" [value]="addSplitiiForm.get('partner_name').value"
          />
          <label for="switch_right">{{addSplitiiForm.get('partner_name').value}}</label>
        </div>
      </div>
      <div *ngIf="activeStep==3" class="step3">

        <div class="switch-field">
          <p class="label">Split ?</p>
          <input type="radio" id="switch_left" name="isHalf" formControlName="isHalf" [value]="true" />
          <label for="switch_left">50/50</label>
          <input type="radio" id="switch_right" name="isHalf" formControlName="isHalf" [value]="false" />
          <label for="switch_right">By Amount</label>
        </div>
        <div class="byAmount" *ngIf="!this.addSplitiiForm.get('isHalf').value">
          <input type="number" appAutofocus formControlName="share" placeholder="$00.00" [max]="addSplitiiForm.get('totalAmount').value" (keyup)="verifyAmount($event,addSplitiiForm.get('totalAmount').value)"
          />
        </div>
        <div class="breakDowns">
          <p class="label">The breakdown</p>
          <p>{{ addSplitiiForm.get('name').value }}: $ {{ addSplitiiForm.get('isHalf').value ? addSplitiiForm.get('totalAmount').value/2
            : addSplitiiForm.get('share').value }}</p>
          <p>{{ addSplitiiForm.get('partner_name').value }} : $ {{ addSplitiiForm.get('isHalf').value ? addSplitiiForm.get('totalAmount').value/2
            : (addSplitiiForm.get('totalAmount').value - addSplitiiForm.get('share').value ) }}</p>
        </div>
      </div>


    </form>
    <div (click)="next()" class="outer btnBack">
      <button #nextBtn type="button" class="btnClass">Next</button>
    </div>
  </div>
  <!-- <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header outer">
        <button type="button" #modal class="close" style="position: absolute;top: 18px;right: 30px;z-index:99999999" data-dismiss="modal">&times;</button>
        <div style="width: 30%;
            position: relative;
            float: left;
            margin: 0;
            padding: 20px;">
          <a style="position: absolute;
            bottom: 1px;
            left: 30px;" href="javascript::void(0)" (click)="back()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
        </div>
        <h4 class="modal-title" style="width: 70%;
            position: relative;
            float: left;
            margin: 0;
            padding: 15px;">&nbsp;</h4>

      </div>
      <div class="modal-body">
        <form [formGroup]="addSplitiiForm">
          <div *ngIf="activeStep==1" style="margin:auto;text-align:center;padding:80px;">
            <input type="number" formControlName="totalAmount" style="border:0;width:100%;font-size:45px;font-family: Montserrat;" placeholder="$00.00"
            />
            <div class="form-control-feedback" *ngIf="addSplitiiForm.get('totalAmount').errors && (addSplitiiForm.get('totalAmount').dirty || addSplitiiForm.get('totalAmount').touched)">
              <p style="margin:0;text-align:left;font-size:12px" *ngIf="addSplitiiForm.get('totalAmount').errors.required">amount is required</p>
            </div>
          </div>
          <div *ngIf="activeStep==2" style="margin:auto;text-align:center;padding:40px">
            <div style="margin-bottom:1.5rem;">
              <p style="text-align:left;">What is this for?</p>
              <input type="text" formControlName="label" style="border:0;border-bottom:1px solid black; font-size:15px;width:100%;font-family: Montserrat;"
              />
              <div class="form-control-feedback" *ngIf="addSplitiiForm.get('label').invalid && (addSplitiiForm.get('label').dirty || addSplitiiForm.get('label').touched)">
                <p style="margin:0;text-align:left;font-size:12px" *ngIf="addSplitiiForm.get('label').errors.required">label is required</p>
              </div>
            </div>
            <div class="switch-field" style="font-size:12px">
              <div class="switch-title" style="text-align:left">Is this awesome?</div>
              <input type="radio" id="switch_left" name="paidBy" formControlName="paidBy" [value]="addSplitiiForm.get('name').value" [checked]="true"
              />
              <label for="switch_left">{{addSplitiiForm.get('name').value}}</label>
              <input type="radio" id="switch_right" name="paidBy" formControlName="paidBy" [value]="addSplitiiForm.get('partner_name').value"
              />
              <label for="switch_right">{{addSplitiiForm.get('partner_name').value}}</label>
            </div>
          </div>
          <div *ngIf="activeStep==3">

            <div class="switch-field" style="font-size:10px;padding: 0px 50px 0 50px;margin-bottom:1.5rem">
              <div class="switch-title" style="text-align:left">Split?</div>
              <input type="radio" id="switch_left" name="isHalf" formControlName="isHalf" [value]="true" />
              <label for="switch_left">50/50</label>
              <input type="radio" id="switch_right" name="isHalf" formControlName="isHalf" [value]="false" />
              <label for="switch_right">By Amount</label>
            </div>
            <div style="margin:auto;text-align:center" *ngIf="!this.addSplitiiForm.get('isHalf').value">
              <input type="number" formControlName="share" style="border:0;width:100%;font-size:45px;font-family: Montserrat;" placeholder="$00.00"
              [max]="addSplitiiForm.get('totalAmount').value" (keyup)="verifyAmount($event,addSplitiiForm.get('totalAmount').value)"
              />
            </div>
            <div style="text-align:center">
              <p>The breakDowns</p>
              <p style="font-size:14px">{{ addSplitiiForm.get('name').value }}: {{ addSplitiiForm.get('isHalf').value ? addSplitiiForm.get('totalAmount').value/2
                : addSplitiiForm.get('share').value }}</p>
              <p style="font-size:14px">{{ addSplitiiForm.get('partner_name').value }} : {{ addSplitiiForm.get('isHalf').value ? addSplitiiForm.get('totalAmount').value/2
                : (addSplitiiForm.get('totalAmount').value - addSplitiiForm.get('share').value ) }}</p>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer" (click)="next()" style="margin:0;padding:0">
        <button #nextBtn type="button" class="btn btn-default" style="position: relative;
            float: left;
            width: 100%;">Next</button>
      </div>
    </div>


  </div> -->
</div>
