#splitiiModal input[type=number]::-webkit-inner-spin-button, 
#splitiiModal input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#splitiiModal input:focus{
  outline: none;
}
#splitiiModal p {
  margin:0;
  padding:0;
  font-size:9px;
  line-height: 1rem;
}